body{
      background-image: url("/assets/images/univers.PNG");
    background-repeat: no-repeat;
    background-size:cover ;
   
    
    
}
 .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .5em;
    width: 80%;
    margin: auto;
}

.info .logo i{
    color: rgb(8, 7, 7);
     font-size: 6em; 
}
.info .logo .sp{
    color: white;
    margin-left: 3px;
    font-size: 3.5em;
    font-weight: bold;
}
.info nav li{
    display: inline-block;
  
}
.info nav ul li a{
 color:white;
 text-decoration: none;
 font-size: 3em;
 margin-left: 1em;
} 